# Data Reshaping & Pivoting Exercises

- Data Reshaping Exercies
- Data Pivoting Exercises
    - Long to Wide Transformation Using pivot() & pivot_table() Functions
    - Wide to Long Transformation Using melt() Function

### Importing Data & Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [ ]:
fifa = pd.read_csv('data/fifa.csv')

In [ ]:
books = pd.read_csv('data/books.csv', error_bad_lines=False)

In [ ]:
churn = pd.read_csv('data/churn.csv')

In [ ]:
sat = pd.read_csv('data/assignment-grouping-and-pivoting-scores.csv')

==========

##### Q. Without using pivot_table() function, can you reshape 'fifa.csv' dataset to get each player's weight & height

In [ ]:
fifa.head()

In [ ]:
fifa.T

In [ ]:
# Transposing DataFrames can be suitable in some particular situations
fifa.set_index('short_name')[['height_cm', 'weight_kg']].T

##### Q. Use the pivoting techniques to find the total number of reviews each author has in 'books.csv'

In [ ]:
books.head(3)

In [ ]:
books['authors'].value_counts()

In [ ]:
books['text_reviews_count'].value_counts()

In [ ]:
books.pivot_table(index='authors',values='text_reviews_count', aggfunc=np.sum).sort_values('text_reviews_count', ascending=False)

##### Q. Indicate the difference between groupby() and pivot_table() in 'churn.csv' dataset

In [ ]:
churn.head()

In [ ]:
churn.info()

In [ ]:
churn['State'].value_counts()

In [ ]:
churn.groupby('State')['Total day calls'].sum().sort_values()

In [ ]:
churn.pivot_table(index='State', values=['Total day calls'], aggfunc='sum').sort_values('Total day calls')

==========

### Homework

##### Q. Regarding 'assignment-grouping-and-pivoting-scores.csv' dataset, create a pivot table for total student enrollment across all boroughs

In [ ]:
sat.head()

In [ ]:
sat.pivot_table('Student Enrollment','Borough', aggfunc='sum').sort_values('Student Enrollment')

In [ ]:
sat.pivot_table('Student Enrollment','Borough', aggfunc='sum').idxmax()

In [ ]:
sat.pivot_table('Student Enrollment','Borough', aggfunc='sum').idxmin()

##### Q. Create a pivot table for all 'Queens Schools'  indicating the students scores in each SAT section in all schools

In [ ]:
sat[sat['Borough'] == 'Queens'].pivot_table('Score', 'School Name','SAT Section')

==========

# GOOD LUCK!