# Data Reshaping & Pivoting Exercises

- Data Reshaping Exercies
- Data Pivoting Exercises
    - Long to Wide Transformation Using pivot() & pivot_table() Functions
    - Wide to Long Transformation Using melt() Function

### Importing Data & Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [ ]:
fifa = pd.read_csv('data/fifa.csv')

In [ ]:
books = pd.read_csv('data/books.csv', error_bad_lines=False)

In [ ]:
churn = pd.read_csv('data/churn.csv')

In [ ]:
sat = pd.read_csv('data/assignment-grouping-and-pivoting-scores.csv')

==========

##### Q. Without using pivot_table() function, can you reshape 'fifa.csv' dataset to get each player's weight & height

##### Q. Use the pivoting techniques to find the total number of reviews each author has in 'books.csv'

##### Q. Indicate the difference between groupby() and pivot_table() in 'churn.csv' dataset

==========

### Homework

##### Q. Regarding 'assignment-grouping-and-pivoting-scores.csv' dataset, create a pivot table for total student enrollment across all boroughs

##### Q. Create a pivot table for all 'Queens Schools'  indicating the students scores in each SAT section in all schools

==========

# GOOD LUCK!