In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(101)
df = pd.DataFrame(np.random.randn(6, 4), index=list('abcdef'), columns=list('WXYZ'))
df

          W         X         Y         Z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509
f  0.302665  1.693723 -1.706086 -1.159119

In [3]:
df['W']

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
f    0.302665
Name: W, dtype: float64

In [4]:
type(df['W'])

pandas.core.series.Series

In [5]:
df[['W']]

          W
a  2.706850
b  0.651118
c -2.018168
d  0.188695
e  0.190794
f  0.302665

In [6]:
type(df[['W']])

pandas.core.frame.DataFrame

In [7]:
df[['W','X']]

          W         X
a  2.706850  0.628133
b  0.651118 -0.319318
c -2.018168  0.740122
d  0.188695 -0.758872
e  0.190794  1.978757
f  0.302665  1.693723

In [9]:
df['S'] = df['W'] + df['X']
df

          W         X         Y         Z         S
a  2.706850  0.628133  0.907969  0.503826  3.334983
b  0.651118 -0.319318 -0.848077  0.605965  0.331800
c -2.018168  0.740122  0.528813 -0.589001 -1.278046
d  0.188695 -0.758872 -0.933237  0.955057 -0.570177
e  0.190794  1.978757  2.605967  0.683509  2.169552
f  0.302665  1.693723 -1.706086 -1.159119  1.996388

In [13]:
df.drop('S', axis=1, inplace=True)

In [14]:
df

          W         X         Y         Z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509
f  0.302665  1.693723 -1.706086 -1.159119

In [17]:
S = pd.Series([1,2,3,4],['A','B','C','D'])
S

A    1
B    2
C    3
D    4
dtype: int64

In [22]:
S['C']

3

In [25]:
df

          W         X         Y         Z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509
f  0.302665  1.693723 -1.706086 -1.159119

In [26]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: c, dtype: float64

In [27]:
type(df.iloc[2])

pandas.core.series.Series

In [29]:
df.iloc[2,1]

0.7401220570561068

In [30]:
df.iloc[:,1]

a    0.628133
b   -0.319318
c    0.740122
d   -0.758872
e    1.978757
f    1.693723
Name: X, dtype: float64

In [32]:
df.iloc[2:-1 ,2]

c    0.528813
d   -0.933237
e    2.605967
Name: Y, dtype: float64

In [33]:
df.iloc[[0,2,4],2]

a    0.907969
c    0.528813
e    2.605967
Name: Y, dtype: float64

In [36]:
df.iloc[::2, -1]

a    0.503826
c   -0.589001
e    0.683509
Name: Z, dtype: float64

In [37]:
df

          W         X         Y         Z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509
f  0.302665  1.693723 -1.706086 -1.159119

In [38]:
df.loc['a']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: a, dtype: float64

In [39]:
df.loc['d','Y']

-0.9332372163009188

In [41]:
df.loc['d']['Y']

-0.9332372163009188

In [42]:
df.loc['d'].loc['Y']

-0.9332372163009188

In [40]:
df.loc[['d','e'],['Y','Z']]

          Y         Z
d -0.933237  0.955057
e  2.605967  0.683509

In [43]:
df

          W         X         Y         Z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509
f  0.302665  1.693723 -1.706086 -1.159119

In [44]:
df < 0.5

       W      X      Y      Z
a  False  False  False  False
b  False   True   True  False
c   True  False  False   True
d   True   True   True  False
e   True  False  False  False
f   True  False   True   True

In [45]:
df[df<0.5]

          W         X         Y         Z
a       NaN       NaN       NaN       NaN
b       NaN -0.319318 -0.848077       NaN
c -2.018168       NaN       NaN -0.589001
d  0.188695 -0.758872 -0.933237       NaN
e  0.190794       NaN       NaN       NaN
f  0.302665       NaN -1.706086 -1.159119

In [48]:
df[df<0.5]['W']

a         NaN
b         NaN
c   -2.018168
d    0.188695
e    0.190794
f    0.302665
Name: W, dtype: float64

In [54]:
df[(df['W'] > 0.5) & (df['Y'] < 0.7)]

          W         X         Y         Z
b  0.651118 -0.319318 -0.848077  0.605965

In [55]:
df.reset_index()

  index         W         X         Y         Z
0     a  2.706850  0.628133  0.907969  0.503826
1     b  0.651118 -0.319318 -0.848077  0.605965
2     c -2.018168  0.740122  0.528813 -0.589001
3     d  0.188695 -0.758872 -0.933237  0.955057
4     e  0.190794  1.978757  2.605967  0.683509
5     f  0.302665  1.693723 -1.706086 -1.159119

In [56]:
df

          W         X         Y         Z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509
f  0.302665  1.693723 -1.706086 -1.159119

In [57]:
df['N'] = ['a', 'b', 'c', 'd', 'e', 'f']

In [58]:
df

          W         X         Y         Z  N
a  2.706850  0.628133  0.907969  0.503826  a
b  0.651118 -0.319318 -0.848077  0.605965  b
c -2.018168  0.740122  0.528813 -0.589001  c
d  0.188695 -0.758872 -0.933237  0.955057  d
e  0.190794  1.978757  2.605967  0.683509  e
f  0.302665  1.693723 -1.706086 -1.159119  f

In [59]:
df.set_index('N')

          W         X         Y         Z
N
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509
f  0.302665  1.693723 -1.706086 -1.159119

In [60]:
df

          W         X         Y         Z  N
a  2.706850  0.628133  0.907969  0.503826  a
b  0.651118 -0.319318 -0.848077  0.605965  b
c -2.018168  0.740122  0.528813 -0.589001  c
d  0.188695 -0.758872 -0.933237  0.955057  d
e  0.190794  1.978757  2.605967  0.683509  e
f  0.302665  1.693723 -1.706086 -1.159119  f