# ADVANCED PANDAS: DATA GROUPING & AGGREGATION

## Course Outline:
- Introduction to Data Wrangling
    - Case-study: Data Preprocessing for The Absolute Beginners
- Data Cleaning & Preparation
    - Data Cleaning (Missing & Duplicated Data)
    - String Manipulation (Regular Expression)
    - Data Transformation
- Merging, Joining, and Concatenating Data
    - concat()
    - merge()
    - join()
- ***Aggregation and Grouping***
    - ***groupby()***
- Reshaping and Pivoting
    - pivot()
    - pivot_table()
    - crosstab()

##### Importing Libraries & Datasets

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [ ]:
titanic = sns.load_dataset('titanic')
titanic

In [ ]:
olympics = pd.read_csv('data/olympics.csv')
olympics

==========

# Data Aggregation (Reduction) and Grouping

### Basics of Grouping

##### DATAFRAME -> SPLIT (.loc) -> APPLY (sum()) -> COMBINE (groupby())

In [ ]:
from IPython.display import Image
Image("data/groupby.png")

##### Simple Aggregation using .loc & Indexing

In [ ]:
titanic[['sex','age', 'fare']].max(numeric_only=True,axis=0)

In [ ]:
titanic[titanic['sex'] == 'female']['fare'].mean()

In [ ]:
# 1] Splitting the dataframe
female = titanic[titanic['sex'] == 'female']
# male = titanic[titanic['sex'] == 'male']

In [ ]:
# 2] Applying the aggregation function
female.mean()
# male.mean()

In [ ]:
# 3] Combining the two splitted dataframes
pd.concat(['female','male'])

##### A Simple Aggregation Using groupby()

In [ ]:
olympics.head()

In [ ]:
olympics.groupby('City')['Medal'].count().sort_values()

In [ ]:
olympics.groupby('City')['Medal'].value_counts().sort_values(ascending=False)

In [ ]:
titanic.head()

In [ ]:
titanic.groupby('pclass')['survived'].count()

In [ ]:
titanic.groupby(['embarked','pclass'])['survived'].count()

##### Spliting with One Key

In [ ]:
# Taking a slice from our dataset
titanic_gender = titanic.iloc[:10,[2,3]]
titanic_gender

In [ ]:
# Grouping data by the gender
titanic_gender_group = titanic_gender.groupby('sex')
titanic_gender_group

In [ ]:
# Let's see the groups
titanic_gender_group.groups

In [ ]:
# Accessing a subgroup
titanic_gender_group.get_group('female')

In [ ]:
titanic_gender_list = list(titanic_gender_group)
titanic_gender_list

In [ ]:
titanic_gender_list[0]

In [ ]:
len(titanic_gender_list[0][0])

In [ ]:
type(titanic_gender_list[0][1])

In [ ]:
titanic_gender_list[0][1]

In [ ]:
titanic

##### Splitting with Many Keys

In [ ]:
# Splitting with many keys
titanic_class = titanic.iloc[:10,[2,3,8]]
titanic_class

In [ ]:
titanic_class['class'].unique()

In [ ]:
titanic_splitting = titanic_class.groupby(['sex','class'])
titanic_splitting

In [ ]:
list(titanic_splitting)

##### Split-Apply-Combine

In [ ]:
titanic_gender

In [ ]:
list(titanic_gender.groupby('sex'))[0][1]

In [ ]:
list(titanic_gender.groupby('sex'))[1][1]

In [ ]:
# Let's apply the aggregation function 'mean'
titanic_gender.groupby('sex').mean()

In [ ]:
titanic_sum = titanic.groupby(['class','sex']).sum()
titanic_sum

In [ ]:
titanic.groupby(['class','sex']).sum().index

In [ ]:
titanic_gender.groupby('sex').mean()

In [ ]:
titanic.groupby('sex')['survived'].mean()

In [ ]:
titanic.groupby('class').count()

In [ ]:
titanic.describe()

In [ ]:
# Finding the overall fare mean 
titanic.fare.mean()

In [ ]:
# Finding the mean regareding the class
titanic.groupby('class').fare.mean()

##### Multi-indexing Using groupby()

In [ ]:
# Multi-indexing using groupby() operation
titanic_sum.index

In [ ]:
titanic_sum.loc['First']

In [ ]:
titanic_sum.loc['First']['survived']

##### Using agg() function

In [ ]:
# Let's select specific columns
titanic_new = titanic.loc[:, ['survived', 'sex', 'age', 'fare', 'class']]
titanic_new

In [ ]:
titanic_new.groupby('sex').agg(['mean','min','sum','max'])

In [ ]:
titanic_new.groupby('sex').agg({'survived': ['min','max'], 'age': ['sum', 'count']})

In [ ]:
# How about renaming these columns with a meaningful names
titanic_new.groupby('sex').agg(survived_total = ('survived', 'sum'))
titanic_new.groupby('sex').agg(survived_total = ('survived', 'sum'), survived_rate = ('survived', 'mean'))

##### Using transform() function to Handle Outliers

In [ ]:
titanic

In [ ]:
from scipy.stats import zscore
titanic_std = titanic.groupby('pclass')['fare'].transform(zscore)
titanic_std

In [ ]:
titanic_std.loc[(titanic_std < -1) | (titanic_std > 3)]

In [ ]:
# Another simple example to understand transform() function
values = {'keys':['a','a','b','c','c','c','a'],
      'values':[12,5,17,20,1,3,8]}
df = pd.DataFrame(values)
df

In [ ]:
# Applying a function to our DataFrame
df.transform(lambda x: x*2)

In [ ]:
df.groupby('keys').sum()

In [ ]:
# This is a useful example for understanding transform()
df.groupby('keys').transform('sum')

In [ ]:
# Now we will use our understanding for our dataset
titanic.groupby('sex')[['survived']].transform('mean').round(2)

##### Dealing with Missing Data Using groupby()

In [ ]:
titanic.head()

In [ ]:
titanic.info()

In [ ]:
# Filling missing data with the 'overall mean'
titanic['age'].fillna(titanic.age.mean())

In [ ]:
# Here is the mean values for each class
titanic.groupby(['sex', 'pclass'])['age'].mean()

In [ ]:
# Finding the mean values for every 
titanic['mean_age'] = titanic.groupby(['sex', 'pclass'])['age'].transform('mean')
titanic

In [ ]:
titanic['age'].fillna(titanic['mean_age'], inplace=True)

In [ ]:
titanic.info()

==========

# THANK YOU!