# Pandas Exercises

## Pandas Series Basics

#### Import the 'pandas' library to load it into the computer's memory

#### Create the **employee_names** list

#### Verify the **employee_names** object is a list.

#### Create a pandas Series object containing the elements from the **employee_names** list. Call it **employee_names_Series**.

#### Confirm the object is of a Series type.

#### Now, create a Series object directly by using the following structure: **pd.Series([...])**
Let the elements of the Series object be the following numbers: 5, 8, 3, and 10. Name the object **work_experience_yrs.**

#### Import the 'NumPy' module

#### Create the **array_age** NumPy array object with these values 50, 53, 35, and 43

#### Verify the type of the **array_age** object:

#### Create a Series object called **series_age** from the NumPy array object **array_age** you just created.

#### Check the type of the newly created object.

#### Display the content of **series_age**.

==========

## Working with Series Attributes

#### For the following Series object:

In [ ]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years

#### Return the values stored in **work_experience_years**.

#### Check the type of the returned object.

#### Use an attribute to find the number of elements in the underlying data for work_experience_years

#### Assign the following name to this Series: **Work Experience (Yrs.)**

#### Display the name of the Series work_experience_years

#### Display the Series itself, to see the name appear below the data values it contains.

==========

## Using an Index in Pandas Series

#### Execute the following code cell to create a dictionary that includes data about the names of the employees as its *keys*, as well as their age as *values*.

In [ ]:
workers_age = {'Amy White':50, 'Jack Stewart':53, 'Richard Lauderdale':35, 'Sara Johnson':43}
workers_age

#### Verify the type of **workers_age** is a dictionary.

#### Create a Series from **workers_age**, giving it the same name, and priting its content

#### Verify **workers_age** is a Series object.

#### Retrieve the index of *workers_age*.

===========

## Label-based vs Position-based Indexing

#### Create a pandas Series object from a dictionary with keys "Martin" and "George" and values 8 and 5, respectively. Call this Series **employees_work_exp**, as from "workers work experience".

#### Retrieve the index values to see they are *labels*.

#### Extract the first of these values to prove they are strings.

#### Create a pandas Series object from an array that contains the following values: 44, 54, 65, 35. Call it **series_age**.

#### Retrieve the index values of **series_age** to see they are numbers, thus representing positioned data.

==========

## Using Pandas Series Methods

#### Consider the following Series object.

In [ ]:
employees_work_exp = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})

#### Use a certain method to extract the top five values from this Series.

#### Use a pandas method to retrieve the last four records of the object.

==========

## Introduction to Pandas DataFrames

Create the following DataFrame in 4 different ways. (You don't need to think about assigning index values yet.)

|   	|               Name 	| Age 	| Working Experience (Yrs.) 	|
|--:	|-------------------:	|----:	|--------------------------:	|
| 0 	|          Amy White 	|  50 	|                         5 	|
| 1 	|       Jack Stewart 	|  53 	|                         8 	|
| 2 	| Richard Lauderdale 	|  35 	|                         3 	|
| 3 	|       Sara Johnson 	|  43 	|                        10 	|

#### Using a Dictionary of Lists

#### Using a List of Dictionaries

#### Using a Dictionary of Series Objects

#### Using a List of Lists

#### Modify the code below to add integers starting from 1 in ascending order as index values.

In [ ]:
data = {
    "Name":['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], 
    "Age":[50, 53, 35, 43], 
    "Working Experience (Yrs.)":[5,8,3,10]}
df = pd.DataFrame(data)
df

becomes

==========

# Good Luck!